.container{
    height: calc(100vh - 100px);
    background-color: rgb(11, 107, 62);
    display: flex;
}

.item{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card{
    flex: 1;
    padding: 20px 50px;
}

.title{
    font-size: 18px;
    color: wheat;
}

.text{
    color: rgb(214, 186, 133);
}

.motto{
    color: wheat;
}